<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>NSBluetoothAlwaysUsageDescription</key>
        <string>Este aplicativo precisa de acesso ao Bluetooth para encontrar dispositivos próximos.</string>
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>Este aplicativo precisa de acesso à localização para procurar dispositivos Bluetooth próximos.</string>
    </dict>
</plist>
